#solidaritegiletsjaunes {	
	position: fixed;	
	top: 0;	right: 0;	
	z-index: 100000;
}
@media (max-width: 767px) {    
	#solidaritegiletsjaunes {
		width: 100%;
		max-width: 100%;
		padding-left: 0;
		padding-top: 0px; 
	} 
}